body {
  background-image: url("background-image/amanda-vick-ohWf6YuzOQk-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 200%;
 }
#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  #gallery img {
    width: 200px;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
  }
  